
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
  <head>
    <title>Roman</title>
    <!-- scripts import -->
    <script type="module" src="custom.js"></script>
  </head>
  <H1>RomanApp</H1>
  <h4>This web-app can convert only 1-10. </h4>
  <table>
    <tr>
      <td>
        <h5>Roman Number  :</h5>
      </td>
      <td>
        <!-- Detect data while -->
        <input type="text" id="romanInput" oninput="myFunction()">
      </td>
      <td>
        <h5>Type some roman number I to X.</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Arabic Number  :</h5>
      </td>
      <td id="arabicNum"></td>
    </tr>
  </table>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
